
@{
    ViewBag.Title = "AddsubCourse";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Add New Sub Course</h4>
        </div>
    </div>

</div>

<div class="col-xl-12 col-xxl-12 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sub Course Details</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddsubCourse", "SubCourse", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Course Name</label>
                            @Html.DropDownList("CourseId", ViewBag.courseList as List<SelectListItem>, "-Select-", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Sub Course Name</label>
                            <input type="text" name="SubCourseName" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" name="SubCourseDescription" rows="5"></textarea>
                        </div>
                    </div>
                   
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

